 html { 
                background: url(flower_one.jpeg) no-repeat center center fixed; 
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
     overflow-x: hidden;
        
            }
            
            body {
                background: none !important;
            }
            
            #logo-div {
                
                float:left;
/*                text-align: center;*/
            }
            
            #menu {
                font-size: 3em;
                float: right;
                margin-right: 20%;
                margin-top: 30%;
            }
            
            img {
                width: 80%;
                opacity: .6;
            }
            
            li {
                opacity: .6;
                background-color:darkgoldenrod !important;
                color: palegoldenrod !important;
                border-color: darkgoldenrod !important;
            }
            
            a:visited {
                color: darkgoldenrod;
            }
            
            a {
                
                color: darkgoldenrod;
            }
            
            a:hover {
                color: goldenrod;
            }
            
            a:active {
                color: darkgoldenrod;
            }
        